<!DOCTYPE html>
<html>
  <head>
    <!DOCTYPE html>
    <html lang="en">

    <title>BoatApp</title>
    <%= csrf_meta_tags %>
    <!--  Bootstrap-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
        <nav>
          <% if  (company_signed_in?)%>
                  <%= link_to "Sign out", { :action => "destroy",  :controller=> "devise/sessions"}, method: :delete %>
            <% else %>
                  <%= link_to "Sign In", new_company_session_path %>
                  <%= link_to "Sign Up", new_company_registration_path %>
            <% end %>



        <%= link_to ("boats home page"), boats_path %> |
        <%= link_to ("jobs home page"), jobs_path %> |
        <%= link_to ("companies home page"), companies_path %> |
      </nav>
    </div>

    <div class="container">
      <div class="logo">
        <!-- <%= image_tag "boat-ship.jpg" %> -->
      </div>
    </div>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
