<!DOCTYPE html>
<html>
  <head>
    <title>BoatApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>

        <% if  (company_signed_in?)%>
              <%= link_to "Sign out", { :action => "destroy",  :controller=> "devise/sessions"}, method: :delete %>
        <% else %>
              <%= link_to "Sign In", new_company_session_path %>
              <%= link_to "Sign Up", new_company_registration_path %>
        <% end %>

    </nav>

      <%= link_to ("boats home page"), boats_path %> |
      <%= link_to ("jobs home page"), jobs_path %> |
      <%= link_to ("companies home page"), companies_path %> |

      <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
