<!-- <div class="container"> -->

	<h1>show page for companies</h1>
	<%= @company.name %>,
	<%= @company.address %>,
	<%= @company.email %>

	<%= link_to ("Comp edit page"), edit_company_registration_path(@company.id) %> |


	<br>

	<!-- this is wheere image tage will be  -->
	<%=  image_tag @company.image.url%>

		<hr>


		<hr>
		<% @company_boats.each do |boat| %>
		  <%= boat.id %>. <br>
		  <%= boat.name %>.<br>
		  <%= boat.amt_container %>.<br>
		  <%= boat.location %>.<br>

			<%= image_tag boat.image.url%>


		  <br><br>
		<% end %>
</div>
