<!-- <div class="container"> -->
<div class="container">
	<h1>show page for companies</h1>
	<br>
	<%= @company.name %>,
	<br>
	<%= @company.address %>,
	<br>
	<%= @company.email %>
	<br><br>

	<%= link_to ("Edit Company info"),
	edit_company_registration_path(@company.id) %>


	<br><br>

	<!-- this is wheere image tage will be  -->
	<%=  image_tag @company.image.url%>

		<hr>


		<hr>
		<% @company_boats.each do |boat| %>
		  <%= boat.id %>. <br>
		  <%= boat.name %>.<br>
		  <%= boat.amt_container %>.<br>
		  <%= boat.location %>.<br>

			<%= image_tag boat.image.url(:thumb) %>


		  <br><br>
		<% end %>
</div>
