<h1>new page for jobs</h1>

<%= form_for @job do |f| %>

 <%= f.label :name %>
 <%= f.text_field :name %> <br>

 <%= f.label :description %>
 <%= f.text_area :description %> <br>

 <%= f.label :origin %>
 <%= f.select :origin, ['Honolulu', 'Hongkong', 'Lisboa', 'Casablanca', 'Paris', 'Milan', 'Barcelona', 'Rabat', 'New York', 'Washington', 'Port-au-prince', 'Phuket'] %> <br>


 <%= f.label :destination %>
 <%= f.select :destination, ['Honolulu', 'Hongkong', 'Lisboa', 'Casablanca', 'Paris', 'Milan', 'Barcelona', 'Rabat', 'New York', 'Washington', 'Port-au-prince', 'Phuket'] %> <br>

 <%= f.label :cost %>
 <%= f.number_field :cost %> <br>

 <%= f.label :amt_container %>
 <%= f.text_field :amt_container %> <br>

  <!-- checkboxes: -->
  <p>Boats:</p>
  <% @boats_arr.each do |boat| %>
    <%= check_box_tag "boat[boat_ids][]", boat.id %>
    <%= f.label boat.name %>
    <br>
  <% end %>
 <br><br>

 <%= f.submit %>
<% end %>


<!-- validation errors: -->
<% if @job.errors.full_messages.any? %>
  <ul>
    <% @job.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li> <br />
    <% end %>
  </ul>
<% end %>
