<h1>show page for jobs</h1>

<h1>profile</h1>

    <%= @job.name%><br>
    <%= @job.description%><br>
    <%= @job.origin%><br>
    <%= @job.destination%><br>
    <%= @job.cost%><br>
    <%= @job.amt_container%><br>




<h1>job assigned to boats</h1><br>

<hr>
<% @boat_ids_arr = []%>
<% @job_boats.each do |boat|%>
    <%= boat.id%>
    <%@boat_ids_arr << boat.id  %><br>
    <%= boat.name%><br>
    <%= boat.location%><br>
    <%= image_tag boat.image.url%><br>
    <%= link_to ("boat show page"), boat_path(boat.id) %> <br>
    <%= link_to ("boat edit page"), edit_boat_path(boat.id) %> <br>
    <%= link_to 'Delete boat',  { action: :destroy, id: boat.id }, method: :delete %><br>
    <hr>
<% end %>


<% puts "final array ", @boat_ids_arr%>
<hr>
<h1>other boats:</h1>
<% @all_ids = []%>
<% @boats.each do |boat|%>
    <% boat.id%>
    <%@all_ids << boat.id  %>
<% end %>
<%puts "BOAT other ID", @all_ids%>


<% @therest_ids = @all_ids-@boat_ids_arr%>
<%puts "CHECKHERE", @therest_ids%>

<hr>
<% @therest_ids.each do |boat|%>
    <%= Boat.find(boat).id%>. <br>
    <%= Boat.find(boat).name%> <br>
    <%= Boat.find(boat).amt_container%> <br>
<% end %>
